<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/planCheck.css}">
    <script src="/dist/js/key.js"></script>
    <script src="https://toptmaptile2.tmap.co.kr/scriptSDKV3/tmapjs3.min.js?version=20231206"></script>
    <script type="text/javascript">
        const script = document.createElement('script');
        script.src = `https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=${tMapAPIKEY}`;
        document.head.appendChild(script);
        function initTmap(){
            let map = new Tmapv3.Map("checkMap",
                {
                    center: new Tmapv3.LatLng(37.566481622437934,126.98502302169841), // 지도 초기 좌표
                    width: "1400px",
                    height: "800px",
                    zoom: 16
                });
        }
    </script>
</head>
<body onload="initTmap()">
    <th:block th:replace="~{header :: header}"></th:block>
    <div class="checkBackImg">
        <div class="checkTitle">
            <img src="/dist/image/send.svg">
            <p class="checkName">재미난 부산여행 2박3일</p>
            <p class="checkSche">스케줄쫙쫙.. 작성</p>
        </div>
        <div class="addMemoBtn">
            메모추가 +
        </div>
        <div class="memoModal">
            <div class="memoWrap">
                <button class="memoCloseBtn">&times;</button>
                <textarea placeholder="메모를 작성하세요..." class="memoContents"></textarea>
                <button class="saveMemo">저장</button>
            </div>
        </div>
        <div class="slideWrap">
            <div class="innerSlide">
                <div class="slideItem">1</div>
                <div class="slideItem">2</div>
                <div class="slideItem">3</div>
                <div class="slideItem">4</div>
                <div class="slideItem">5</div>
                <div class="slideItem">6</div>
                <div class="slideItem">7</div>
                <div class="slideItem">8</div>
                <div class="slideItem">9</div>
                <div class="slideItem">10</div>
                <div class="slideItem">11</div>
                <div class="slideItem">12</div>
                <div class="slideItem">13</div>
                <div class="slideItem">14</div>
                <div class="slideItem">15</div>
                <div class="slideItem">16</div>
                <div class="innerLine"></div>
            </div>
        </div>
        <div id="checkMap">
            <div class="mapOpenBtn">
                <button><img src="/dist/image/chevrons-left.svg"></button>
            </div>
            <div class="mapCloseBtn hidden">
                <button><img src="/dist/image/chevrons-right.svg"></button>
            </div>
            <div class="mapContentBox hidden">
                <div class="contentTitle">1일차</div>
                <div class="editBtn btnText">편집</div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png" class="dragIcon">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름1</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름2</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름3</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름4</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름5</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름6</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름7</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름8</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름9</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
                <div class="oneContent">
                    <div class="drag hidden">
                        <img src="/dist/image/drag.png">
                    </div>
                    <div class="name_cate">
                        <span class="placeName">장소이름10</span>
                        <span class="placeCate">장소카테고리</span>
                    </div>
                    <div class="rate_count">
                        <span class="placeRate">별점</span>
                        <span class="placeRateCount">별점개수</span>
                    </div>
                    <div class="placeInfo">장소소개</div>
                    <div class="placeImgDiv">
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                        <div class="placeImg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkBottom"></div>
    </div>
    <script src="/dist/js/plan/check.js"></script>
</body>
</html>