<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/planCreate.css}">
    <script src="/dist/js/key.js"></script>
    <script type="text/javascript">
        const script = document.createElement('script');
        script.src = `https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=${tMapAPIKEY}`;
        document.head.appendChild(script);
        function initTmap(){
            let map = new Tmapv3.Map("planMap",
                {
                    center: new Tmapv3.LatLng(37.566481622437934,126.98502302169841), // 지도 초기 좌표
                    width: "1400px",
                    height: "800px",
                    zoom: 18
                });
        }
    </script>
</head>
<body onload="initTmap()">
    <th:block th:replace="~{header :: header}"></th:block>
    <div class="planBackImg">
        <div class="planTitle">
            <img src="/dist/image/send.svg">
            <p class="planName">재미난 부산여행 2박3일</p>
            <p class="planSche">스케줄쫙쫙.. 작성</p>
        </div>
        <div class="planContent">
            <div class="contentImg"></div>
        </div>
        <div id="planMap">
            <div class="planPrint"></div>
        </div>
        <div class="planBottom"></div>
    </div>
</body>
</html>