<div class="bottomInfoWrap">
    <div class="myPlaceTripReview">
        <h1>음식점 리뷰</h1>
        <button type="button" class="accordionBtn" aria-expanded="false" onclick="accordionToggle(this)">펼치기</button>
        <ul class="tripPlaceReviewList">
        </ul>
    </div>
    <div class="myFoodTripReview">
        <h1>관광지 리뷰</h1>
        <button type="button" class="accordionBtn" aria-expanded="false" onclick="accordionToggle(this)">펼치기</button>
        <ul class="tripFoodReviewList">
        </ul>
    </div>
</div>