<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.www.triptrav.repository.MyPageMapper">

    <select id="isSocial" resultType="com.www.triptrav.domain.UserVO">
        select * from user where uno = #{uno}
    </select>

    <select id="scheduleCall" resultType="com.www.triptrav.domain.ScheduleVO">
        select * from schedule where uno = #{uno}
    </select>


</mapper>