<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/schedule/check.css}">
    <script src="/dist/js/key.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
    <script src="https://toptmaptile2.tmap.co.kr/scriptSDKV3/tmapjs3.min.js?version=20231206"></script>
    <script type="text/javascript">
        const script = document.createElement('script');
        script.src = `https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=${tMapAPIKEY}`;
        document.head.appendChild(script);
    </script>
</head>
<body onload="initTmap()">
    <th:block th:replace="~{header :: header}"></th:block>
    <input class="inviteUser" th:value="${session.inviteeUser}" style="display: none">
    <div class="checkBackImg">
        <div class="checkTitle">
            <img src="/dist/image/send.svg">
            <p class="checkName"></p>
            <p class="checkDate"></p>
            <p class="checkSche">스케줄쫙쫙.. 작성</p>
        </div>
        <div class="addMemoBtn" onclick="openModal()">메모추가 +</div>
        <div class="memoModal">
            <div class="memoWrap">
                <button class="memoCloseBtn">&times;</button>
                <textarea placeholder="메모를 작성하세요..." class="memoContents"></textarea>
                <button class="saveMemo">저장</button>
            </div>
        </div>
        <div class="checkPersonBtn" onclick="checkPersonF()">동행자 확인</div>
        <div class="addPersonBtn" onclick="addPersonF()">동행자추가 +</div>
        <div class="personModal">
            <div class="personModalWrap">
                <span>동행자 추가</span>
                <button class="pmCloseBtn">&times;</button>
                <input class="pmShareValue" readonly>
                <button class="copyUrl" data-clipboard-target=".pmShareValue">
                    <img src="/dist/image/paperclip.svg">
                </button>
            </div>
        </div>
        <div class="companionModal">
            <div class="companionModalWrap">
                <span>동행자 확인</span>
                <button class="cmCloseBtn">&times;</button>
                <ul class="companionUl"></ul>
                <button class="editRole hidden">편집</button>
                <button class="editSaveBtn hidden">저장</button>
            </div>
        </div>
        <div class="slideWrap">
            <div class="innerSlide">
                <div class="innerLine"></div>
            </div>
        </div>
        <div id="checkMap">
            <div class="mapOpenBtn">
                <button><img src="/dist/image/chevrons-right.svg"></button>
            </div>
            <div class="mapCloseBtn hidden">
                <button><img src="/dist/image/chevrons-left.svg"></button>
            </div>
            <div class="mapContentBox hidden" onclick="editPlan(event)">
                <div class="contentTitle">
                    <span class="nameZone"></span>
                    <img src="/dist/image/edit-3.svg" class="editPlanTitle hidden" onclick="editTitle()">
                </div>
                <div class="dayDisplay">
                    <div class="day day1 day_focus" data-date="1">Day 1</div>
                    <div class="day day2" data-date="2"></div>
                    <div class="day day3" data-date="3"></div>
                </div>
                <div class="editBtn btnText hidden">편집</div>
                <div class="disableEdit hidden"></div>
                <ul class="contentArea"></ul>
                <div class="addPlan" onclick="clickAddPlan()">여행지 추가 + </div>
            </div>
            <div class="mapContentBox2Depth hidden">
                <ul class="depth2_ul">
                    <li class="on" data-number="1">추천 여행지</li>
                    <li data-number="2">검색</li>
                    <li data-number="3">My 좋아요</li>
                </ul>
                <div class="depth2_recomm">
                    <div class="recomm_area">
                        <div class="recomm_img"></div>
                        <div class="recomm_name">추천장소 이름</div>
                        <div class="recomm_addr">추천장소 주소</div>
                        <div class="recomm_addBtn">추가</div>
                    </div>
                </div>
                <div class="depth2_recomm">
                    <div class="recomm_area">
                        <div class="recomm_img"></div>
                        <div class="recomm_name">추천장소 이름</div>
                        <div class="recomm_addr">추천장소 주소</div>
                        <div class="recomm_addBtn">추가</div>
                    </div>
                </div>
                <div class="depth2_recomm">
                    <div class="recomm_area">
                        <div class="recomm_img"></div>
                        <div class="recomm_name">추천장소 이름</div>
                        <div class="recomm_addr">추천장소 주소</div>
                        <div class="recomm_addBtn">추가</div>
                    </div>
                </div>
                <div class="depth2_search_input_area hidden">
                    <input class="depth2_input">
                    <button type="submit" class="depth2_searchBtn"><img src="/dist/image/search.svg"></button>
                </div>
                <div class="searchResultDiv"></div>
                <div class="depth2_heart hidden">
                    <div class="heart_area">
                        <div class="heart_img"></div>
                        <div class="heart_name">찜한장소 이름</div>
                        <div class="heart_addr">찜한장소 주소</div>
                        <div class="heart_addBtn">추가</div>
                    </div>
                </div>
                <div class="depth2_heart hidden">
                    <div class="heart_area">
                        <div class="heart_img"></div>
                        <div class="heart_name">찜한장소 이름</div>
                        <div class="heart_addr">찜한장소 주소</div>
                        <div class="heart_addBtn">추가</div>
                    </div>
                </div>
                <div class="depth2_heart hidden">
                    <div class="heart_area">
                        <div class="heart_img"></div>
                        <div class="heart_name">찜한장소 이름</div>
                        <div class="heart_addr">찜한장소 주소</div>
                        <div class="heart_addBtn">추가</div>
                    </div>
                </div>
                <div class="depth2_heart hidden">
                    <div class="heart_area">
                        <div class="heart_img"></div>
                        <div class="heart_name">찜한장소 이름</div>
                        <div class="heart_addr">찜한장소 주소</div>
                        <div class="heart_addBtn">추가</div>
                    </div>
                </div>
                <div class="depth2_heart hidden">
                    <div class="heart_area">
                        <div class="heart_img"></div>
                        <div class="heart_name">찜한장소 이름</div>
                        <div class="heart_addr">찜한장소 주소</div>
                        <div class="heart_addBtn">추가</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkBottom"></div>
    </div>
    <script src="/dist/js/schedule/check.js"></script>
    <script src="/dist/js/schedule/inviteUser.js"></script>
</body>
</html>