<!DOCTYPE html>
<title>main</title>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>trips</title>
    <link rel="stylesheet" href="/dist/css/trip/trips.css">
</head>
<body>
<th:block th:replace="~{header :: header}"></th:block>
<div class="tripWrap">
    <div class="list-container" id="listContainer">
    </div>
</div>
<script src="/dist/js/trip/tripMain.js"></script>
<script src="/dist/js/key.js"></script>
</body>
</html>